*{
    border-radius: 20px;
    height: auto;
    width: auto;
    color: black;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}
body{
    background: linear-gradient(blue, white, orange);
    color: black;
}
header, nav, section, aside, footer{
    margin: 5px;
    padding: 5px;
    img{
        width: 40%;
        height: 40%;
    }
}
button, select, option, button{
    background-color: black;
    color: white;
}
.divsec{
    position: relative;
    display: flex;
    fieldset{
        width: 15%;
    }
}

footer{
    background-color: black;
    button{
        border: solid, white, 2px;
        background-color: black;
        color: white;
    }
}
fieldset{
    color: black;
    border: 1px white solid;
    margin: 10px;
    padding: 10px;
    background-color: white;
    legend{
        border-radius: 20px;
        background-color: black;
        color: white;
        margin: 5px;
        padding: 5px;
    }
}
legend{
    color: black;
    font-size: smaller;
}
.imgcert{
    width: 100%;
}
